$futuraStd-font-path: $font-path !default;

@font-face {
    font-family: $font-roboto;
    src: url('#{$futuraStd-font-path}/Roboto/Roboto-Regular.ttf');  
    font-weight: normal;
    font-style: normal;
}