// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-menu{
    ion-header{
        background-color: color($colors, ccc_cafe) !important;
        .header-menu{
            height: 100px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            .avatar{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;
                position: absolute;
                bottom: -40px;
                left: 10px;
                border: 4px solid color($colors, ccc_white);;
            }
            p{
                font-family: $font-ptSerif;
                color: color($colors, ccc_abano);
                font-size: $font-size-subtitle;
                margin-right: 20px;
            } 
        }
        
    }
}
    

ion-content{
    background-color: color($colors, ccc_abano) !important;
    .menu-list{
        margin-top: 50px;
        .item{
            &-md,
            &-ios{
                font-family: $font-ptSerif;
                color: color($colors, ccc_dark_gray);
                font-size: $font-size-subtitle;
                background: transparent !important;
            }
        }
    }
    .footer-logout{
        border-top:1px solid color($colors, ccc_dark_gray);
        position:absolute;
        bottom: 0;
        padding: 20px 0 0 20px;
        margin-left: -15px;
        width: 100%;
    }

}

ion-backdrop{
  	opacity:0.8 !important;
}