page-modals {

  ion-content{
    background-color: color($colors, ccc_vinotinto) !important;
    opacity: 0.9;

    .scroll-content{
		display: flex;
		justify-content: center;
		align-items: center;

		.content-container{
			flex-direction: column;
			color: white;
			font-family: $font-roboto;
			text-align: center;

			.btn-modal{
				background-color: transparent;
				border: 1px solid color($colors, ccc_white);
				border-radius: 25px;
				font-family: $font-ptSerif;
				text-transform: none !important;
				min-width: 50%;
				margin-top: 30px;
			}
		}
    }
  }
  
}